.logo {
  font-weight: 700;
}

.main-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 80px;
  background-color: #1c1e53;
  color: white;
}

.main-nav-bar > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav-bar > div > ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.main-nav-bar > div > ul > li > a {
  text-decoration: none;
  color: white;
}

.logout-container > ul > div {
  span {
    font-size: 12px;
    opacity: 80%;
  }
}

