
.ranking-part{
    text-align: center;
    font-family: 'Edu SA Beginner', cursive;
}

.rank-icon{
    font-size: 25px;
    color: #52BCA6;
    position: relative;
    top: 30px;
    
}

.rotate-animation {
    animation: rotate 2s linear infinite; /* Adjust the animation duration and other properties as needed */
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .rating-qoute{
    position: relative;
    top: 90px;
    text-align: center;
    font-weight: 500;
  }

  .Rankgroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .TotalScore{
    background-color: #52BCA6;
    color: aliceblue;
    font-family: 'Edu SA Beginner', cursive;
    text-align: center;
  }