.TitlesOfunits{
    display:flex ;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    flex: 9;
   
   
   
}

.quizTitleNames{
    color: black;
    font-weight: 700;
    font-size: 20px;
    padding: 30px;
    flex: 9;
    height: 50px;
    width: 400px;
    color: #f2cf72;
    border: solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 10px;
    gap:20px;
    
}

.math{
    font-size: 30px;
}

.quizTitleNames:hover .math::before {
    content: '\f067'; 
  }