.AdminSideBar{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.AdminSideBar div{
    font-size:medium;
    display: flex;

    font-weight: 600;
}

Link{
    font-family: 'Montserrat', sans-serif;
}


.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #40F8FF;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;

  }
   
  .sidebar a.active {
    background-color: #1e467f;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #279EFF;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }