.TeacherDash{
    background-color: #fff ;
    margin-top: 40px;
    margin-left: 50px;
}
.Announcement{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.teachersAnnouncement{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 35px;
    margin-left: 12px;
    margin-top: 30px;
    position: relative;
    left: 25%;
    

}

.teachersAnnouncement label{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
}

.teachersAnnouncement input{
    border: 1px solid #c4cbd3;
    background-color:  #eef1f7;
    padding-right: 700px;
    font-family: 'Montserrat', sans-serif;
    color: #555;
    font-size: inherit;
    font-weight: 300;
    border-radius: 7px;
    
}

.teachersAnnouncement textarea{
    border: 1px solid #c4cbd3;
    background-color:  #eef1f7;
    font-family: 'Montserrat', sans-serif;
    color: #555;
    font-size: inherit;
    padding-right: 700px;
    padding-bottom: 70px;
    border-radius: 7px;
    padding-left: 10px;
    padding-top: 10px;
}

.questionAddBtn{
    padding: 15px 30px 15px 30px;
    color: #eef1f7;
    border: none;
    background-color: #385bce;
    border-radius: 8px;
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
}