
.home{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffe8c7;
    padding: 20px;
    font-size: 20px;
    border-radius: 30px;
    margin: 40px;
    color:black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.home:hover{
    box-shadow: 4px 6px;
    
}



.login{
    font-family: 'Montserrat', sans-serif;
    background-color:  #ea966b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 780px;
    
}

.loginForm{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.1);
    border-radius: 10px;
    gap: 10px;
    padding-bottom: 25px;

}

.loginForm input{
   
    font-family: 'Montserrat', sans-serif;
    text-align:left;
    padding: 10px;
    font-size: larger;
    font-weight: 500;
    border: 0;
    border-bottom: 1px solid;
    background-color: rgba(255,255,255,.0);
    color:#ffe8c7;
}

.loginForm input::placeholder{
    color: #ffe8c7;
}

.loginButton2{
    border-radius: 20px;
    padding: 10px 40px;
    background-color: #ffe8c7;
    border: 0;
}

.loginButton2:disabled{
    cursor: not-allowed;
}

.loginButton2:hover{
    background-color: #eef1f7;
    color: black;
}

.loginForm>img{
    width: 300px;
}

a{
    text-decoration: none;
    color:#ffe8c7;
    font-weight: 500;
    
}
