.TeacherDash{
    background-color: #eef1f7 ;
}
.Announcement{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.teachersAnnouncement{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}


.TeachersAnBtn{
    padding: 0;
    margin: 0;
    background-color: #eef1f7;
}