.priWelcome{
    font-family: 'Kaushan Script', cursive;
    font-size:70px;
    font-weight: 700;
    color: #52BAA3;
    text-align: center;
    background-color: #E4EFEB;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 680px;

    
}

.firsthalf{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
    
}

.firsthalf>img{
    width: 1300px;
}

