.welcome{
    background-color: #eef1f7;
}

.loginNav{
    display: flex;
    position:sticky;
    width: 100%;
    height: 120px;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.loginNav>a>img{
    width: 280px;
  
}

button{
    font-family: 'Montserrat', sans-serif;
    padding:5px 10px 5px 10px;
    border: solid black 2px;
    background-color: azure;
    font-weight: 600;
    margin: 40px;
   
}

button:hover{
    background-color: black;
    color: white;
}

.welcomeCon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.welcomeConImg{
    width:500px;
    padding: 10px;
    padding-right: 100px;
    flex: 50%;
}

.welcomeCon>div{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    padding-left: 100px;
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}



.requestButton{
    background-color: #1e467f;
    color: #eef1f7;
    margin: 10px 20px 10px 20px;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 20px;
    
    
}

.requestButton:hover{
    background-color: #31c175;
}

.lms_guide{
    background-color: #f23276;
    width: 100%;
    height: 500px;
}

.brandname{
    color: #f23276;
}

.lms_guide1{
    padding-top: 50px;
    background-color: #273044;
    width: 100%;
    height: 500px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 700;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    
}

.lms_guide1>p{
    font-family: 'Open Sans', sans-serif;
    color: rgba(255,255,255,.7);
    font-size:small;
    font-weight: 500;
}

.lms_guide1>div{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    gap: 30px;
}

.lms_guide1>div>div>p{
    font-weight: 400;
    font-size: 17px;
    color: rgba(255,255,255,.7);
}

.students{
    color: #72d5f2;
}

.teacher{
    color: #f2cf72;

}


@media only screen and (min-width: 680px) {
    .welcomeConImg{
        width:400px;
        padding: 10px;
        padding-right: 100px;
        flex: 50%;
    }
    .welcomeCon>div{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 35px;
        text-align: center;
        padding-left: 40px;
        flex: 50%;
        display: flex;
        flex-direction: column;
        
    }
    
    

}
