.teachersNav{
    width: 100%;
    height: 65px;
    background-color: #1e467f ;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size:small;
    color:#eef1f7;
    
}

.teachersNav ul{
    display:flex ;
    gap: 50px;
    margin-left: 20px;
}

.logoutTeach{
    font-size: 17px;
}

.logoutTeach:hover{
    color: #eef1f7;
}

.teacherNavItem:hover{
    color:cadetblue;
}
